/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    font-size: 18px;
}

header{
    background-color: white;
}
    header > .container{
        font-size: 18px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        justify-content: left;
        font-size: 18px;
    }
    nav{
        justify-content: right;
    }
    nav > ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        gap: 20px;
        color: #6b7280;
        font-weight: bold;
    }

        nav > ul > li > a{
            color: #6b7280;
        }
        nav > ul > li > a:hover{
            color: #5a67d8
        }

    .overview-hero{
        background-color: #e2e8f0;
        display: flex;
    }
        .overview-hero > .container{
            padding: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
        .overview-hero-image{
            align-items: left;
        }
            .overview-hero-image > img{
                width: 300px;
                border-radius: 5px;
            }
        .overview-hero-content{
            align-items: right;
        }

    .learn-about{
        padding: 30px;
    }
        .learn-about > .container >h2{
            font-size: 24px;
            color: #48bb78
        }
        .cards{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }
        .card{
            border: 1.5px solid #E2E8F0;
            border-radius: 5px;
            box-shadow: 0px 2px 5px 0px rgba(151, 151, 151, 0.5);
            padding: 10px;
        }
            .card-body > h3{
                font-size: 21px;
                color: #48bb78
            }
            .card > img{
                width: 100%;
                border-radius: 5px;
            }

    .testing{
        background-color: #4a5568;
        color: white
    }
        .testing > .container{
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 30px;
        }
        .testing-description{
            align-items: left;
            padding: 30px;
        }
        .cta{
            align-items: right;
            text-align: center;
            padding: 10px 15px;
            background-color: #48bb78;
            border-radius: 5px;
            width:auto;
            white-space: nowrap;
        }
            .cta > a{
                color: white;
            }
    

    .stories{
        display: flex;
        padding: 20px;
    }
        .stories > .container{
            display: flex;
            flex-direction: column;
        }
        .stories > .container > h2{
            font-size: 18px;
            color: #5a67d8
        }
        
        article{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /* gap: 20px; */
        }
        
        article > img{
            width: 200px;
            align-items: left;
            border-radius: 50%;
            padding: 30px;
        }
        .article-body{
            align-items: right;
        }
            .article-body > p > a{
                color: #5a67d8;
                font-weight: bold;
            }

    .newsletter{
        background-color: #48bb78;
        color: white;
        display: flex;
    }
        .newsletter > .container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        
        form{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
        
            form > button{
                background-color: #5a67d8;
                color: white;
                padding: 10px 15px;
                border:none;
                border-radius: 5px;
            }
                form > button:hover{
                    background-color: #4953ad;
                    cursor: pointer;
                }
            input{
                padding: 10px 15px;
                border-radius: 5px;
                border: none;
            }


    footer{
        background-color: #4a5568;
        color: white;
        margin: 0 auto;
        padding: 5px;
    }