/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    background-color: white;
}
    header > .container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        justify-content: left;
    }
    nav{
        justify-content: right;
    }
    nav:hover{
        color: #5a67d8
    }
        nav > ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            align-items: center;
            gap: 20px;
        }

    .overview-hero{
        background-color: #e2e8f0;
        display: flex;
    }
        .overview-hero > .container{
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
        .overview-hero-image{
            align-items: left;
        }
            .overview-hero-image > img{
                width: 100px;
            }
        .overview-hero-content{
            align-items: right;
        }

    .learn-about{
        padding: 20px;
        gap: 20px;
    }
        .learn-about > .container >h2{
            font-size: 24px;
            color: #48bb78
        }
        .cards{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }
        .card{
            /* text-align: center; */
            border-color: #e2e8f0;
            border-width: 5px;
            box-shadow: 2px 2px 5px 0px rgba(151, 151, 151, 0.5);
            
        }
            .card-body > h3{
                font-size: 21px;
                color: #48bb78
            }
            .card > img{
                width: 100px;
            }

    .testing{
        background-color: #4a5568;
        color: white
    }
        .testing > .container{
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 20px;
        }
        .testing-description{
            align-items: left;
            padding: 20px;
        }
        .cta{
            /* align-items: right; */
            padding: 20px;
            background-color: #48bb78;
            border-radius: 5px;
        }
            .cta > a{
                color: white;
            }
    
    .stories{
        display: flex;
        padding: 20px;
    }
        .stories > .container{
            display: flex;
            flex-direction: column;
        }
        .stories > .container > h2{
            font-size: 18px;
            color: #5a67d8
        }
        
        article{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        
        article > img{
            width: 100px;
            align-items: left;
            border-radius: 50%;
        }
        .article-body{
            align-items: right;
        }
            .article-body > a{
                color: #5a67d8;
            }

    .newsletter{
        background-color: #48bb78;
        color: white;
        display: flex;
    }
        .newsletter > .container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        .newsletter > button{
            background-color: #5a67d8;
            color: white;
        }

    footer{
        background-color: #4a5568;
        color: white;
        margin: 0 auto;
        padding: 5px;
    }